version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: news-mongo
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    container_name: news-redis
    ports:
      - "6379:6379"
