/* ================================
   NAVBAR Informburo Style
================================ */
.navbar {
  width: 100%;
  background: #d60000;
  height: 65px;
  display: flex;
  align-items: center;
}

.navbar-inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.navbar-logo {
  font-size: 26px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

/* LINKS */
.navbar-links {
  display: flex;
  gap: 22px;
}

.nav-link {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding: 6px 4px;
  transition: 0.2s;
}

.nav-link:hover {
  opacity: 0.8;
}

.nav-link.active {
  border-bottom: 3px solid white;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-lang {
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
